h3 Welcome
/p
/  = link_to 'Users:', users_path
/  = User.count
/  | registered
/
/.form-group
/  div.input-group.date
/    input[type='text' class='datepicker']
/
/- content_for :javascript do
/
/  javascript:
//    $(function () {
//
//      $('.datepicker').datepicker({
//        format: 'yyyy-mm-dd',
//        todayBtn: "linked",
//        keyboardNavigation: false,
//        forceParse: false,
//        calendarWeeks: true,
//        language: 'ko',
//        autoclose: true
//      });
//    });